.btnTag {
  width: fit-content;
  height: 30px;
  border: 1px solid grey;
  background-color: #fff;
  border-radius: 20px;
  padding: 5px 15px;
  text-align: center;
}

.btnTag:hover {
  background-color: #eb4e62;
  color: #fff;
  border: 1px solid transparent;
}

.btnsSection {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 20px 0px;
}

.btnTagActive {
  background-color: #eb4e62;
  color: #fff;
  border: 1px solid transparent;
}
